<ion-header>
  <ion-toolbar color='tertiary'>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
                 
    </ion-buttons>
    <ion-title><b>SELECT CITY </b></ion-title>
  </ion-toolbar>
</ion-header>


 
<ion-content>
  
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="https://en.gravatar.com/userimage/188249065/b6a30d36872522ff567186caf8141f6d.jpg">
    </ion-thumbnail>
    <ion-label><ion-item>
      <ion-fab><ion-fab-button size= 'default' (click)='Atlanta()'color="dark"><strong>ATLANTA,GA</strong></ion-fab-button></ion-fab>
       
    </ion-item></ion-label>
  </ion-item>
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="https://en.gravatar.com/userimage/188249065/3ab942f06e382749eaebc02fd1620fc4.jpg">
    </ion-thumbnail>
    <ion-label> <ion-item>
      <ion-fab><ion-fab-button size= 'default' (click)='Boston()'color='tertiary'>BOSTON,MA</ion-fab-button> </ion-fab>
    </ion-item></ion-label>
  </ion-item>
    
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="https://en.gravatar.com/userimage/188249065/3717b21f8cf535839e80b0177da6e338.jpg">
    </ion-thumbnail>
    <ion-label> <ion-item>
      <ion-fab><ion-fab-button size= 'default' (click)='Colombus()'color="dark">COLOMBUS,OH</ion-fab-button> </ion-fab>
    </ion-item></ion-label>
  </ion-item> 

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="https://en.gravatar.com/userimage/188249065/b6e42d48bd66dfd4780fb35f785eb74a.jpg">
    </ion-thumbnail>
    <ion-label> <ion-item>
      <ion-fab><ion-fab-button size= 'default' (click)='Denver()'color='tertiary'>DENVER,CO</ion-fab-button> </ion-fab>
    </ion-item></ion-label>
  </ion-item> 

    
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="https://en.gravatar.com/userimage/188249065/769ca6e63b344001e239758bf247671e.jpg">
    </ion-thumbnail>
    <ion-label> <ion-item>
      <ion-fab><ion-fab-button size= 'default' (click)='Houston()'color="dark">HOUSTON,TX</ion-fab-button> </ion-fab>
    </ion-item></ion-label>
  </ion-item> 
    

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="https://en.gravatar.com/userimage/188249065/ad8781751611b3bbb900fc9760a96d2e.jpg">
    </ion-thumbnail>
    <ion-label> <ion-item>
      <ion-fab><ion-fab-button size= 'default' (click)='LosAngeles()'color="tertiary">LOS ANGELES,CA</ion-fab-button> </ion-fab>
    </ion-item></ion-label>
  </ion-item> 

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="https://en.gravatar.com/userimage/188249065/d6fab8bd98e5dc1af35a8359bc3ded20.jpg">
    </ion-thumbnail>
    <ion-label><ion-item>
      <ion-fab><ion-fab-button size= 'default' (click)='Louisville()'color="dark">LOUISVILLE,KY</ion-fab-button> </ion-fab>
    </ion-item></ion-label>
  </ion-item> 
    

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="https://en.gravatar.com/userimage/188249065/e22cb106b420ade8bdc57fe4cbe648c7.jpg">
    </ion-thumbnail>
    <ion-label><ion-item>
      <ion-fab><ion-fab-button size= 'default' (click)='Miami()'color="tertiary">MIAMI,FL</ion-fab-button> </ion-fab>
    </ion-item></ion-label>
  </ion-item> 
    

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="https://en.gravatar.com/userimage/188249065/f8c5ad0fb0fb89300c82693cb564aa82.jpg">
    </ion-thumbnail>
    <ion-label><ion-item>
      <ion-fab><ion-fab-button size= 'default' (click)='Portland()'color="dark">PORTLAND,OR</ion-fab-button> </ion-fab>
    </ion-item></ion-label>
  </ion-item> 
    

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="https://en.gravatar.com/userimage/188249065/e12217ac19b5939d766c2eacd733f95f.jpg">
    </ion-thumbnail>
    <ion-label><ion-item>
      <ion-fab><ion-fab-button size= 'default' (click)='Rayleigh()'color="tertiary">RALEIGH,NC</ion-fab-button> </ion-fab>
    </ion-item></ion-label>
  </ion-item> 
    
    
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="https://en.gravatar.com/userimage/188249065/4407e524f7c18d632e7eb2d1b75d5291.jpg">
    </ion-thumbnail>
    <ion-label><ion-item>
      <ion-fab><ion-fab-button size= 'default' (click)='Tucson()'color='dark'>TUCSON,AZ</ion-fab-button> </ion-fab>
    </ion-item></ion-label>
  </ion-item> 
    

  <ion-item>
    <ion-thumbnail slot="start">
      <img src="https://en.gravatar.com/userimage/188249065/49ad191711a34371576e5aa5a2cc8f30.jpg">
    </ion-thumbnail>
    <ion-label><ion-item>
      <ion-fab><ion-fab-button size= 'default' (click)='NewYork()'color="tertiary">WASHINGTON,DC</ion-fab-button> </ion-fab>
    </ion-item>
  </ion-label>
  </ion-item> 
    
    
  
</ion-content>


  