<ion-header>
  <ion-toolbar color='tertiary'>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="countrylist"></ion-back-button>
                 
    </ion-buttons>
    <ion-title size='large' color='light'><ion-icon size='default' name="location-sharp"></ion-icon>
      <b> Miami,FL</b></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-card color='tertiary'>
      <img src="assets/images/miam.jpg" alt="" >
      <ion-card-header>
        <ion-card-subtitle></ion-card-subtitle>
        <ion-item color=''><ion-card-title color='light'>Miami,FL</ion-card-title></ion-item>
      </ion-card-header>
      <ion-card>
        <ion-card-content color='light'>
          <b>In Miami, the summers are hot, oppressive, wet, and mostly cloudy and the winters are short, comfortable, humid, windy, and mostly clear. Over the course of the year, the temperature typically varies from 62°F to 90°F and is rarely below 50°F or above 92°F.

            Based on the tourism score, the best time of year to visit Miami for warm-weather activities is from early November to late April.
            </b>
          
          
        </ion-card-content>
      </ion-card>
      <ion-item color='dark'>
        Scroll Down to get the details for a day and a week <ion-icon name="arrow-down-circle-sharp"></ion-icon>

      </ion-item>
    </ion-card>
    <ion-item *ngFor="let days of forecast ">
      <ion-card size='default' color='tertiary'>

        <ion-card-header>
          <ion-card-subtitle><b>{{days.name}}</b></ion-card-subtitle>
          <div><img src="{{days.icon}}" alt=" " ></div>
          <ion-card-title>{{days.shortForecast}} </ion-card-title> 
        </ion-card-header>
      
        <ion-card-content>
          <ion-list class="bg-transparent">
       
          <ion-item ><Strong>Temp : </Strong>  {{days.temperature}}  {{days.temperatureUnit}} </ion-item>  
          <ion-item><strong>Wind Speed : </strong> {{days.windSpeed}}</ion-item>
          <ion-item ><strong>Wind Direction : </strong>{{days.windDirection}}</ion-item> 
          </ion-list>
          <ion-list> <ion-item color='dark'><strong>Description </strong></ion-item>
            <ion-item ><b>{{days.detailedForecast}}</b></ion-item> 
           </ion-list>
             
          
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>

</ion-content>

