ion-content {
  --background: url('/assets/images/car.jpg') no-repeat 100% 100%;
}
div{
  opacity: 0.6;
}
.username{
  align-items: center;
  height: 50px;
  
  position: absolute;
  top: 30%;
  bottom: 30%;
  left:19%;
  
}
.password{
  align-items: center;
  height: 50px;
  
  position: absolute;
  top: 40%;
  bottom: 30%;
  left:19%;
  

}

ion-button{
  height:50px;
  width:230px;
  align-items: center;
  
  position: absolute;
  top: 50%;
  bottom: 30%;
  left:18%;
      
 
}
.title
{
  align-items: center;
  height: 50px;
  width:300px;
  position: absolute;
  top: 20%;
  bottom: 30%;
  left:8%;
  
}