<ion-content>
 
  <form  #form="ngForm" (ngSubmit)="login()"  >
    <ion-buttons slot="start">
      <ion-back-button defaultHref="welcome"></ion-back-button>
                 
    </ion-buttons>
    <div padding> 
      <ion-item class='title' color='danger'><b><strong>Come for the weather..Stay for the experience.!</strong> </b>  
      </ion-item>
    
    <ion-item class='username'>
      <ion-label position="floating" ><ion-icon name="person"></ion-icon>
        Username</ion-label>
      <ion-input position="floating" name="userid" [(ngModel)]="userid" type="text" placeholder="Enter User ID" ngModel required></ion-input>
    </ion-item>
    <ion-item class='password'>
      <ion-label position="floating"><ion-icon name="key"></ion-icon>
        Password</ion-label>
      <ion-input position="floating" name="password" [(ngModel)]="password" type="password" placeholder="Enter Password" ngModel required></ion-input>
    </ion-item >
      <ion-button  slot="end" size="default" type="submit" color="tertiary" expand="block">Login</ion-button>
    
  </div>
    <div *ngIf="error" class="error" padding >
      {{error}}
    </div>

</form>


</ion-content>